# 核心颜色
content-border-color = #dddddd
content-background-color = #ffffff
content-text-color = #444444
header-border-color = #dddddd
header-background-color = #e6e6e6
header-text-color = #444444
default-border-color = #dddddd
default-background-color = #ffffff
default-text-color = #444444
hover-border-color = #40a9ff
hover-background-color = #f6f6f6
hover-text-color = #40a9ff
active-border-color = #1890ff
active-background-color = #e6f7ff
active-text-color = #1890ff
error-border-color = #ffa8a8
error-background-color = #fff8f8
error-text-color = #ff6c6c
border-radius = 6px

# 标志位
is-dark-active-color = false

# 派生变量
primary-background-color = #1890ff
primary-text-color = #ffffff
tabstrip-inkbar-color = #1890ff
