# 核心颜色
content-border-color = #e6e6e6
content-background-color = #ffffff
content-text-color = #444444
header-border-color = #e6e6e6
header-background-color = #ffffff
header-text-color = #444444
default-border-color = #e6e6e6
default-background-color = #ffffff
default-text-color = #444444
hover-border-color = #76a6cb
hover-background-color = #edf6fd
hover-text-color = #00599f
active-border-color = #76a6cb
active-background-color = #e5eef5
active-text-color = #00599f
error-border-color = #ffa8a8
error-background-color = #fff8f8
error-text-color = #ff6c6c
border-radius = 6px

# 派生变量
primary-background-color = #00599f
primary-text-color = #fff
tabstrip-inkbar-color = #00599f

# 首页标题栏
index-header-border-color = #003e6f
index-header-background-color = #00355f
index-header-text-color = rgba(255, 255, 255, .9)
index-hover-background-color = rgba(0, 89, 159, 0.4)
index-hover-text-color = #fff
index-active-background-color = rgba(0, 89, 159, 0.8)
index-active-text-color = #fff

# 标志位：激活状态时底色比较淡，文字颜色和正常状态的文字颜色相同
is-dark-active-color = false
