# 核心颜色
content-border-color = #e6e6e6
content-background-color = #ffffff
content-text-color = #444444
header-border-color = #e6e6e6
header-background-color = #ffffff
header-text-color = #444444
default-border-color = #e6e6e6
default-background-color = #ffffff
default-text-color = #444444
hover-border-color = #ad9bc6
hover-background-color = #f8f4fc
hover-text-color = #674595
active-border-color = #ad9bc6
active-background-color = #f0ecf4
active-text-color = #674595
error-border-color = #ffa8a8
error-background-color = #fff8f8
error-text-color = #ff6c6c
border-radius = 6px

# 派生变量
primary-background-color = #674595
primary-text-color = #fff
tabstrip-inkbar-color = #674595

# 首页标题栏
index-header-border-color = #483068
index-header-background-color = #3e2959
index-header-text-color = rgba(255, 255, 255, .9)
index-hover-background-color = rgba(103, 69, 149, 0.4)
index-hover-text-color = #fff
index-active-background-color = rgba(103, 69, 149, 0.8)
index-active-text-color = #fff

# 标志位：激活状态时底色比较淡，文字颜色和正常状态的文字颜色相同
is-dark-active-color = false
