# 核心颜色
content-border-color = #e6e6e6
content-background-color = #ffffff
content-text-color = #444444
header-border-color = #e6e6e6
header-background-color = #ffffff
header-text-color = #444444
default-border-color = #e6e6e6
default-background-color = #ffffff
default-text-color = #444444
hover-border-color = #76b4ac
hover-background-color = #edf9f7
hover-text-color = #007465
active-border-color = #76b4ac
active-background-color = #e5f1ef
active-text-color = #007465
error-border-color = #ffa8a8
error-background-color = #fff8f8
error-text-color = #ff6c6c
border-radius = 6px

# 派生变量
primary-background-color = #007465
primary-text-color = #fff
tabstrip-inkbar-color = #007465

# 首页标题栏
index-header-border-color = #005147
index-header-background-color = #00463d
index-header-text-color = rgba(255, 255, 255, .9)
index-hover-background-color = rgba(0, 116, 101, 0.4)
index-hover-text-color = #fff
index-active-background-color = rgba(0, 116, 101, 0.8)
index-active-text-color = #fff

# 标志位：激活状态时底色比较淡，文字颜色和正常状态的文字颜色相同
is-dark-active-color = false
